<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/shopping</property>
    <mapping class="com.gunsoft.bean.Product"/>
    <mapping class="com.gunsoft.bean.Category"/>
    <mapping class="com.gunsoft.bean.ItemCategory"/>
    <mapping class="com.gunsoft.bean.Order"/>
    <mapping class="com.gunsoft.bean.OrderDetail"/>
    <mapping class="com.gunsoft.bean.User"/>
    <mapping class="com.gunsoft.bean.UserRole"/>
    <mapping class="com.gunsoft.bean.Address"/>
    <mapping class="com.gunsoft.bean.AddressShipping"/>
    <mapping class="com.gunsoft.bean.Customer"/>
  </session-factory>
</hibernate-configuration>
